.exp {
    border: 1px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 234, 255, 0.15);
    background: #112240;
}

.exp>div>p>span {
    color: var(--secondary);
    font-weight: 600;
}

.about {
    box-shadow: 0 0 10px rgba(0, 234, 255, 0.10);
    user-select: none;
    background: #1c2541;
    border-radius: 8px;
}

.about:hover {
    box-shadow: 0 0 20px rgba(0, 234, 255, 0.20);
    border-color: var(--secondary);
}

.degree {
    color: var(--accent);
    font-weight: 600;
}

.exp>img {
    width: 1.6rem;
    height: 1.6rem;
}

.exp:hover {
    border-color: var(--accent);
    box-shadow: 0 0 20px rgba(0, 234, 255, 0.20);
}
