:root {
    --red: #e11d48;
    --green: rgb(3, 102, 3);
    --grey: #a0a0a0
}

.active {
    border: 1px solid var(--red);
    color: var(--red) !important;
    color: #fff;
    border-radius: 5px;
}

.active:hover {
    color: #fff !important;
}

.default {
    background-color: none;
    color: var(--grey)
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
}