
.active {
    border: 1.5px solid var(--color-secondary);
    border-radius: 5px;
    color: var(--color-secondary) !important;
    filter: drop-shadow(0 0 15px var(--color-secondary));
    font-weight: bold;
}

.active:hover {
    box-shadow: none;
    color: var(--color-background) !important;
    filter: none;
}

.default {
    background-color: none;
    color: var(--color-muted);
    cursor: pointer;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
}