:root {
    --red: #e11d48;
    --green: rgb(3, 102, 3);
    --grey: #a0a0a0
}

.active {
    border: 1.5px solid var(--red);
    border-radius: 5px;
    color: var(--red) !important;
    filter: drop-shadow(0 0 15px #e11d48);
    font-weight: bold;
}

.active:hover {
    box-shadow: none;
    color: #fff !important;
    filter: none
}


.default {
    background-color: none;
    color: var(--grey);
    cursor: pointer;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
}