/* width */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.App {
    position: relative;
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e11d48;
    border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1e293b;
}