html {
  scroll-behavior: smooth;
  font-family: "Inter", "Montserrat", "Roboto Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  overflow: hidden;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Inter", "Montserrat", "Roboto Mono", sans-serif;
}

#home,
#skills,
#gitState {
  background-attachment: fixed;
  background-image: url("/public/images/bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Overlay color for color mode */
  background-blend-mode: overlay;
  background-color: var(--bg-surface);
}

#projects,
#about,
#contact {
  background-attachment: fixed;
  background-image: url("/public/images/bg2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Overlay color for color mode */
  background-blend-mode: overlay;
  background-color: var(--bg-card);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* Hero Section */
.button {
  width: max-content;
  border-radius: 25px;
  color: var(--secondary);
  padding: 12px 2rem;
  font-weight: 500;
  font-size: large;
  background-color: var(--border);
  border: 2px solid var(--secondary);
  transition: background 0.2s, color 0.2s;
}
.button:hover {
  background: var(--secondary);
  color: var(--background);
}

/* Project Section */
.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lineClampDesc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px 10px;
}

@media screen and (max-width: 350px) {
  .between-center {
    flex-direction: column;
  }
}
